section#container
  section#slides

script(src=cdn("/js/socket.io.min.js"))
script(src=cdn("/js/showdown.min.js"))
script(src=cdn("/js/prettify.js"), onload="prettyPrint();", defer)
script(src=cdn("/js/main.js"))

- if (owner)
  script(src=cdn("/js/admin.js"))
